<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet" href="@{/css/main.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body class="body">
<div class="container my-2";>
    <header class="primary-header flex">
        <div class="logo">
            <img src="assets/logo.png" alt="">
        </div>
        <button class="mobile-nav-toggle"
                aria-controls="primary-navigation" aria-expanded="false">
            <span class="sr-only">Menu</span></button>
        <nav class="a-remove-underlined">
            <ul id="primary-navigation" data-visible="false"
                class="primary-navigation uppercase letter-spacing-2 fs-300 flex">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/admin/category">Categories</a>
                </li>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="/discounts" class="current-page">Discounts</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Discounts List</h1>
    <a th:href = "@{/discounts/create}" class="btn btn-info btn-sm mb-3 mt-3"> Add Discount </a>
    <table class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a class="text-accent" th:href="@{'/discounts/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    Discount Name</a>
            </th>
            <th>
                <a class="text-accent" th:href="@{'/discounts/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    Discount Amount</a>
            </th>
            <th>
                <a class="text-accent" th:href="@{'/discounts/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    active</a>
            </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discount : ${discount}">
            <td th:text="${discount.discount_name}"></td>
            <td th:text="${discount.discount_amount}"></td>
            <td th:text="${discount.active}"></td>
            <td> <a th:href="@{/discounts/edit/{id}(id=${discount.id})}" class="btn btn-outline-info">Update</a>
                <a th:href="@{/discounts/delete/{id}(id=${discount.id})}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <footer>
        <div class = "footer-container flex">
            <div class="copyright">
                Copyright Reserved by NTG - 2022
            </div>
            <!--				<ul class="social">-->
            <!--					<li><a href="/"><i class='bx bxl-twitter'></i></li>-->
            <!--					<li><a href="/"><i class='bx bxl-linkedin-square'></i></li>-->
            <!--				</ul>-->
        </div>
    </footer>
</div>

</body>
</html>